openTCS-Common/src/main/resources/org/opentcs/util/persistence/model-0.0.3.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- Root element of a model document -->
  <xsd:element name="model">
    <xsd:complexType>
      <!-- model elements -->
      <xsd:sequence>
        <xsd:element name="point"
                     type="pointType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
        <xsd:element name="path"
                     type="pathType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
        <xsd:element name="vehicle"
                     type="vehicleType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
        <xsd:element name="locationType"
                     type="locationTypeType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
        <xsd:element name="location"
                     type="locationType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
        <xsd:element name="block"
                     type="blockType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
        <xsd:element name="group"
                     type="groupType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
        <xsd:element name="visualLayout"
                     type="visualLayoutType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
        <xsd:element name="property"
                     type="propertyType"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xsd:sequence>
      <!-- model attributes -->
      <xsd:attribute name="version"
                     type="versionType"
                     use="required"/>
      <xsd:attribute name="name"
                     type="xsd:string"
                     use="required"/>
    </xsd:complexType>
  </xsd:element>

  <!-- Simple data type for version strings -->
  <xsd:simpleType name="versionType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d\.\d\.\d"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Data type for point elements -->
  <xsd:complexType name="pointType">
    <xsd:sequence>
      <xsd:element name="outgoingPath"
                   minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name"
                         type="xsd:string"
                         use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="xPosition"
                   type="xsd:long"
                   use="required"/>
    <xsd:attribute name="yPosition"
                   type="xsd:long"
                   use="required"/>
    <xsd:attribute name="zPosition"
                   type="xsd:long"/>
    <xsd:attribute name="vehicleOrientationAngle"
                   type="xsd:float"/>
    <xsd:attribute name="type"
                   type="pointTypeType"
                   use="required"/>
  </xsd:complexType>
  
  <xsd:simpleType name="pointTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="REPORT_POSITION"/>
      <xsd:enumeration value="HALT_POSITION"/>
      <xsd:enumeration value="PARK_POSITION"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Data type for path elements -->
  <xsd:complexType name="pathType">
    <xsd:sequence>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="sourcePoint"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="destinationPoint"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="length"
                   type="xsd:unsignedInt"
                   use="optional"/>
    <xsd:attribute name="maxVelocity"
                   type="xsd:unsignedInt"
                   use="required"/>
    <xsd:attribute name="maxReverseVelocity"
                   type="xsd:unsignedInt"
                   use="required"/>
    <xsd:attribute name="locked"
                   type="xsd:boolean"
                   use="required"/>
  </xsd:complexType>

  <!-- Data type for vehicle elements -->
  <xsd:complexType name="vehicleType">
    <xsd:sequence>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="length"
                   type="xsd:unsignedInt"/>
    <xsd:attribute name="energyLevelCritical"
                   type="xsd:unsignedInt"/>
    <xsd:attribute name="energyLevelGood"
                   type="xsd:unsignedInt"/>
    <xsd:attribute name="energyLevelFullyRecharged"
                   type="xsd:unsignedInt"/>
    <xsd:attribute name="energyLevelSufficientlyRecharged"
                   type="xsd:unsignedInt"/>
    <xsd:attribute name="maxVelocity"
                   type="xsd:unsignedInt"/>
    <xsd:attribute name="maxReverseVelocity"
                   type="xsd:unsignedInt"/>
  </xsd:complexType>

  <!-- Data type for location type elements -->
  <xsd:complexType name="locationTypeType">
    <xsd:sequence>
      <xsd:element name="allowedOperation"
                   minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name"
                         type="xsd:string"
                         use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
  </xsd:complexType>

  <!-- Data type for location elements -->
  <xsd:complexType name="locationType">
    <xsd:sequence>
      <xsd:element name="link"
                   type="locationLinkType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="xPosition"
                   type="xsd:long"/>
    <xsd:attribute name="yPosition"
                   type="xsd:long"/>
    <xsd:attribute name="zPosition"
                   type="xsd:long"/>
    <xsd:attribute name="type"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="locked"
                   type="xsd:boolean"/>
  </xsd:complexType>
  
  <!-- Data type for location link elements -->
  <xsd:complexType name="locationLinkType">
    <xsd:sequence>
      <xsd:element name="allowedOperation"
                   minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name"
                         type="xsd:string"
                         use="required"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="point"
                   type="xsd:string"
                   use="required"/>
  </xsd:complexType>
  
  <!-- Data type for block elements -->
  <xsd:complexType name="blockType">
    <xsd:sequence>
      <xsd:element name="member"
                   minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name"
                         type="xsd:string"
                         use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="type"
                   type="blockTypeType"/>
  </xsd:complexType>
  
  <!-- Data type for block type elements -->
  <xsd:simpleType name="blockTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SINGLE_VEHICLE_ONLY"/>
      <xsd:enumeration value="SAME_DIRECTION_ONLY"/>
    </xsd:restriction>
  </xsd:simpleType>  
  
  <!-- Data type for group elements -->
  <xsd:complexType name="groupType">
    <xsd:sequence>
      <xsd:element name="member"
                   minOccurs="0"
                   maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="name"
                         type="xsd:string"
                         use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
  </xsd:complexType>
  
  <xsd:complexType name="visualLayoutType">
    <xsd:sequence>
      <xsd:element name="shapeLayoutElement"
                   type="shapeLayoutElementType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
      <xsd:element name="modelLayoutElement"
                   type="modelLayoutElementType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
	
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="scaleX"
                   type="xsd:float"
                   use="required"/>
    <xsd:attribute name="scaleY"
                   type="xsd:float"
                   use="required"/>
  </xsd:complexType>
  
  <xsd:complexType name="shapeLayoutElementType">
    <xsd:sequence>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="layer"
                   type="xsd:unsignedInt"
                   use="required"/>
  </xsd:complexType>
  
  <xsd:complexType name="modelLayoutElementType">
    <xsd:sequence>
      <xsd:element name="property"
                   type="propertyType"
                   minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="visualizedObjectName"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="layer"
                   type="xsd:unsignedInt"
                   use="required"/>
  </xsd:complexType>
  
  <!-- Data type for properties -->
  <xsd:complexType name="propertyType">
    <xsd:attribute name="name"
                   type="xsd:string"
                   use="required"/>
    <xsd:attribute name="value"
                   type="xsd:string"
                   use="required"/>
  </xsd:complexType>
</xsd:schema>
